* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(25% - 20px);
    padding: 25px;
    background: #e5e5e5;
    transition: 0.3s;
}

.card:hover {
    background: #bde0fe;
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 100%;
    }
}